.carouse-figure{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    clear: both;
    overflow: hidden;
}
.main-content{
    width:1200px;
    height:400px;
}
.slider{
    width: 800px;
    height:400px;
    line-height: 400px;
    float: left;
    overflow: hidden;
}
.images{
    position: absolute;
    z-index: -1;
    width:5600px;
    height: 400px;
    overflow: hidden;
    left: 0;
}
img{
    width:800px;
    height: 400px;
    float: left;
}
.describe{
    width: 400px;
    height: 400px;
    line-height:55px;
    float: left;
    background: #bb0802;
    text-align: center;
    font-size: 40px;
    white-space:normal;
}
.bottom-content{
    width: 1200px;
    height: 50px;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0;
}
.slide-txt{
    width: 1078px;
    height: 50px;
    line-height: 50px;
    float: left;
    color: #fff;
    background: #171717;
    opacity: 0.8;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
}
.control-btn{
    width: 100px;
    height: 50px;
    line-height: 50px;
    float:right;
}
.btn{
    width: 50px;
    height: 50px;
    text-align: center;
}
#left-btn{
  float: left;
}
#right-btn{
    float:left;
}
.btn button{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: none;
    background: #171717;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    outline: none;
}
.btn button:hover{
    opacity: 0.9;
}